/* цвет текста доминантный #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* footer и header фон #2F303A */
/* backgraund #E5E5E5 */
/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --secondery-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

/* logo */
.logo {
  color: var(--primary-white-color);
}
.logo-ingredient {
  color: var(--accent-color);
}
/* list */

.list {
  list-style: none;
}

/* site nav */
.site-nav a {
  color: var(--secondery-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* contact-up */
.contact-up a {
  color: var(--primary-text-color);
}

.contact-up .link:hover,
.contact-up .link:focus {
  color: var(--accent-color);
}

/* hero */

/* section */

/* features */
.section-title {
  color: var(--secondery-text-color);
}
.feature-list .title {
  color: var(--secondery-text-color);
}

/* work */

/* team */
.team-list .title {
  color: var(--secondery-text-color);
}

/* button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
