:root {
  --primary-text-color: #757575;
  --secondery-text-color: #212121;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --accent-color: #2196f3;
  --accent-hover-color: #188ce8;
  --accent-button-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --primary-background-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* logo */
.logo-up {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-ingredient {
  color: var(--accent-color);
}
/* list */

/* site nav */
.site-nav .link {
  color: var(--secondery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* contact-up */
.contact-up .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-up .link:hover,
.contact-up .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-title {
  color: var(--primary-white-color);
}
/* button */
.hero-button {
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-hover-color);
}

.basic-button {
  color: var(--secondery-text-color);
  background-color: var(--accent-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}
.basic-button:hover,
.basic-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-hover-color);
}
/* section */
.section-title {
  color: var(--secondery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* features */

.feature-list .title {
  color: var(--secondery-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list {
  font-size: 14px;
  line-height: 1.7;
}

/* team */

.team-list .title {
  color: var(--secondery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */

.aside {
  background-color: var(--primary-background-color);
  color: var(--primary-white-color);
}
.logo-down {
  color: var(--primary-white-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.aside-contact {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}
.contact-down .link {
  color: var(--third-text-color);
}
.contact-down .link:hover,
.contact-down .link:focus {
  color: var(--accent-color);
}

.basic-gallery .title {
  color: var(--secondery-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36p2;
  letter-spacing: 0.06em;
}
.basic-gallery {
  font-size: 16px;
  line-height: 1.88;
}
